.header-nav {
  height: 80px;
  background-color: #1c2b35;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 140px;
  padding-right: 140px;
  /* position: sticky;
  top: 0px; */
}
.header-nav a {
  text-decoration: none;
  color: white;
  margin-left: 50px;
  font-size: 17px;
}
.header-nav a:hover {
  color: orange;
}
